#content {
    max-width: 1600px;
    width: 0 auto;
    text-align: center;
}
nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #2A9D8F;
}
header {
    background-color: #2A9D8F;
}
nav a:hover {
    background-color: #2A9D8F;
}
.book, .join {
    background-color: #2A9D8F;
}
.book:hover, .join:hover {
    background-color: #2A9D8F;
}
#background {
    background-color: #2A9D8F;
}
.msg {
    background-color: #2A9D8F;
}
footer {
    background-color: #2A9D8F;
}
